.home {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: space-around;
    background-color: rgba(105, 35, 35, 0.342);
    margin: 10% 10%;
    border: 1px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.507);
    padding: 2%;
  }
  
  .ul {
    margin-bottom: 10%;
  }
  
  button {
    margin: 2% 0%;
    border-radius: 2%;
  }
  